/*CSS FOR TEACHER DASHBOARD*/
.fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .bor {
    border: 1px solid black;
  }
  .hrstyle {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

  }
  /*CSS OF HEADER*/
  header nav .logo img{
    width:100px;
   height:auto;
    margin-left:30px;
  
  }
  header .navbar ul{
  padding-left: 30px;
  padding-right: 60px;
  
  }
  header .navbar ul li{
  list-style: none;
  justify-content:center ;
  align-items: center;
  }
  header .navbar ul li a{  
  font-size:15px;
  font-weight:700;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 60px;
  }
  
  header nav ul li a:hover{
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 6px;
  }


  /*css of section*/
section{
	display:flex;
  padding-top:75px;  
	min-height: 100vh;
    width:100%;
}

 /*css of section1*/
 section .section1{
  background:  #5D8AA8;
    height:100vh;
    width:35vh;
    
   }
   section .section1 .box{
    background:transparent;
    padding-top:5px;
   }
   section .section1 .box .cards{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color:#fff;
    padding:15px 0px;
    margin-bottom: 5px;
    margin-left:2px ;
    margin-right: 2px;
    border-color:rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
   }
  
 /*CSS FOR LINK AND HOVER EFFECT*/
   section .section1 .box .cards a{
    color:white;
    text-decoration: none;
  }
  section .section1 .box .cards a:hover{
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 6px;
    padding: 10px;
  }





  /*section 2*/
  section .section2{
    background: #F8F8FF;
    height:100vh;
    width:200vh;
    }
    section .section2 .link {
      margin: 20px;
    }
    section .section2  .link a {
      text-decoration: none;
      font-weight: 700;
      padding-top: 10px;
      background: #5d8aa8;
      padding: 15px 10px;
      letter-spacing: 1px;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
    }
    section .section2  .link a:hover {
      border-color: aliceblue;
    }
    section .section2 .heading{
      color:#000;
      letter-spacing:1px;
      justify-content:center ;
      align-items: center;  
      text-align: center;
      background:  #5D8AA8;
      margin-top:15px;
      margin-left:10px ;
      margin-right:10px ;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  /* CSS for cards  section 2*/
  section .section2 .box{
    display:relative;
    margin-top:30px;
    margin-left:20px;  
  }
  section .section2 .box .cards{
justify-content: center;
  align-items: center;
  background:  #5D8AA8;
  letter-spacing:1px;
  text-transform:capitalize;
 font-size: 18px;
  color:#fff;
  padding-top:20px;
  padding-right:40px;
  padding-left:10px;
  margin-right:20px;
  margin-bottom:20px;
  border-radius: 10px;
  width:15em;
}

section .section2 .box .cards .p1 a{
  color:#fff;
  text-decoration: none;
}
section .section2 .box .cards .p1 a:hover{
  background-color: rgba(220, 220, 220, 0.5);
    border-radius: 6px;
    padding: 10px;
}
 /* end here*/

 
 /*CSS FOR FORM*/
  section .section2 .box{
    position: relative;
    justify-content: center;
	align-items: center;
    margin-left :70px;
    margin-right :40px;
    margin-top :70px;
    border-radius: 6px;
  }
 
   section .section2 .box .form{
        position: relative;
        justify-content: center;
        align-items: center;
        padding-left:30% ;
        padding-top:40px;
        padding-bottom: 20px;
        width:100%;
    }

    section .section2 .box .form .inputbx{
        position: relative;
        width: 100%;
        margin-bottom:20px;
    }
    section .section2  .box .form .inputbx .span{
        color:#000;
        font-weight:700;
        font-size:18px;
    
    }
    section .section2  .box .form .inputbx input{
        width: 30%;
        outline:none;
        border:1px solid rgba(0,0,0,0.2);
        background:transparent;
        padding:8px 10px;
        border-radius:6px;
        color:#000;
        font-size:16px;
        font-weight:300;
    }
    section .section2 .box .form .inputbx input[type="submit"]{
        background:  #5D8AA8;
        color:#111;
        max-width:100px;
        padding: 8px 10px;
        box-shadow:none;
        font-weight:700;
        letter-spacing: 1px;
        cursor:pointer;
    }
    section .section2 .box .form .inputbx input[type="submit"]:hover{
      border-color: aliceblue;
       
       }
    section .section2 .box .form .inputbx input[type="reset"]{
      background:  #5D8AA8;
      color:#111;
      max-width:100px;
      padding: 8px 10px;
      box-shadow:none;
      font-weight:700;
      letter-spacing: 1px;
      cursor:pointer;
  }
  section .section2 .box .form .inputbx input[type="reset"]:hover{
    border-color: aliceblue;
     
     }
  
  

