/*css for contact us page */
.fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .bor {
    border: 1px solid black;
  }
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
	font-family:'poppins',sans-serif;
}
 /*CSS OF HEADER*/
 header nav{
    position:fixed;
    background: #000;
    height:75px;
    width:100%;
  }
  
header nav .logo p{
    color:#fff;
    font-weight:200;
    font-size: 20px;
	letter-spacing:2px;
    padding-top: 25px;
    padding-left: 30px;
    text-transform: capitalize;
    cursor:pointer;
  }
  header nav ul{
    display:flex;
    padding-top: 25px;
padding-left: 30px;
padding-right: 30px;
    
  }
  header nav ul li{
    list-style: none;
    justify-content:center ;
    align-items: center;
  }
  header nav ul li a{  
font-size:15px;
font-weight:700;
text-transform: uppercase;
color:#fff;
text-decoration: none;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
  }
  header nav ul li a:hover{
    color: #4F97A3;
    transition:all 0.5s ease 0s  ;
  }




  /*css for section*/
section{
    display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  background:rgb(220, 220, 220); 
    background-size: cover;
}
section .heading{
  display:flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh; 
  width:35%;
  background: #F8F8FF;
  border-radius: 6px;
  box-shadow:6px 6px rgba(0,0,0);
}

.maindiv
{
    position: relative;
	outline:none;
    background: #F8F8FF;
    padding:50px ;
    margin-top:70px;
    justify-content: center;
	align-items: center;
    border-radius: 6px;
    width:35%;
    box-shadow:6px 6px rgba(0,0,0);
	
}
.maindiv h2{
  justify-content: center;
	align-items: center;
  text-align: center;
    padding:20px;
    font-size: 35px;
    font-weight:700;
    color:#000;
    cursor: pointer;
}
.maindiv .subdiv{
    display:flex;
    width:100%;
    flex-direction: column;
}


.maindiv .subdiv .box {
position:relative;
padding: 20px 0;
display :flex;
}
.maindiv .subdiv .box .icon{
    min-width: 60px;
    height:60px;
    background:#5D8AA8;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50px;
    font-size:20px;
}
.maindiv .subdiv .box .text{
    display:flex;
    margin-left:20px;
    font-size:16px;
    font-weight: 400;
    color:#000;
    flex-direction: column;
    cursor:pointer;

}
.maindiv .subdiv .box .text h3{
    font-weight: 600;
    color:#000;
}

/*CSS OF FOTTER*/
footer {
  background: #000;
     color:#fff;
     text-align: center;
     justify-content: center;
     align-items: center;
     font-size:20px;
     font-weight: 500;
     height:75px;
     width:100%;
     padding-top:25px ; 
   }






