/*CSS FOR TEACHER DASHBOARD*/
.fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .bor {
    border: 1px solid black;
  }
  .hrstyle {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    }*/
    
    /*BACKGROUND COLOR FOR CARDS*/
    .bg{
      background: rgba(0,76,153,0.6);
    }
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family:'poppins',sans-serif;
    
      }
      
/*CSS OF HEADER*/
header nav{
    position:fixed;
    background: #3B3C36;
    height:75px;
    width:100%;
  }
  
  header nav .logo img{
    width:100px;
   height:auto;
    margin-left:30px;
  
}
  header nav ul{
    display:flex;
    padding-top: 25px;
padding-left: 30px;
padding-right: 30px;
    
  }
  header nav ul li{
    list-style: none;
    justify-content:center ;
    align-items: center;
  }
  header nav ul li a{  
font-size:15px;
font-weight:700;
text-transform: uppercase;
color:#fff;
text-decoration: none;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
  }
  header nav ul li a:hover{
    color: #4F97A3;
    /*transition:all 0.5s ease 0s  ;*/
  }

    
  /*css of section*/
section{
	display:flex;
  padding-top:75px;  
	min-height: 100vh;
    width:100%;
}

 /*css of section1*/
 section .section1{
  background:  #5D8AA8;
    height:100vh;
    width:35vh;
    
   }
   section .section1 .box{
    background:transparent;
    padding-top:5px;
   }
   section .section1 .box .card{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color:#fff;
    padding:15px 0px;
    margin-bottom: 5px;
    margin-left:2px ;
    margin-right: 2px;
    border-color:rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
   }
  
 /*CSS FOR LINK AND HOVER EFFECT*/
   section .section1 .box .card a{
    color:white;
    text-decoration: none;
  }
  section .section1 .box .card a:hover{
    color:#000;
    transition:all 0.5s ease 0s  ;
  }
   





   /*CSS FOR SUBMENU  CARD*/
   section .section1 .box .card .subMenu{
    display:none;
   }
   section .section1 .box .card:hover .subMenu{
    display:block;
    position:absolute;
    background:  #5D8AA8;
    margin-top:15px;
    margin-left:200px;
   }
   section .section1 .box .card:hover .subMenu .subCard{
    justify-content:left;
    align-items: left;
    text-align: left;
    font-size: 18px;
    color:#fff;
    padding:15px 15px;
    margin-bottom: 1px;
    margin-left:2px ;
    margin-right: 2px;
    border-color:rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
   }
   
  section .section1 .box .card:hover .subMenu .subCard a{
    color:white;
    text-decoration: none;
    padding:15px;
   }

   section .section1 .box .card:hover .subMenu .subCard a:hover{
    color:#000;
    transition:all 0.5s ease 0s 
   }
   
   
   
   
   /*CSS FOR SUBMENU--1  CARD*/
   section .section1 .box .card .subMenu .subCard .subMenu1{
    display:none;
   } 
   section .section1 .box .card:hover .subMenu .subCard:hover .subMenu1{
    display:block;
    position:absolute;
    background:  #5D8AA8;
    margin-top:15px;
    margin-left:175px;
    width:35vh;
   }
   
   section .section1 .box .card:hover .subMenu .subCard:hover .subMenu1 .subCard1{
    justify-content:left;
    align-items: left;
   text-align: left;
   font-size: 18px;
   color:#fff;
   padding-top:20px;
   padding-bottom: 20px;
   border-color:rgba(0,0,0,0.2);
  border-radius: 2px;
  cursor: pointer;
   }
   section .section1 .box .card:hover .subMenu .subCard:hover .subMenu1 .subCard1 a{
    color:white;
    text-decoration: none;
    padding:15px;
   }
   
   section .section1 .box .card:hover .subMenu .subCard:hover .subMenu1 .subCard1 a:hover{
    color:#000;
    transition:all 0.5s ease 0s 
   }
   
   
   
   
   
   
   
   
   
   
   
   
  
  
   /*css of section2*/
  
   section .section2{
    background: #F8F8FF;
    height:100vh;
    width:200vh;
    
    }
    section .section2 .heading{
      color:#000;
      letter-spacing:1px;
      justify-content:center ;
      align-items: center;  
      text-align: center;
      background:  #5D8AA8;
      margin-top:15px;
      margin-left:10px ;
      margin-right:10px ;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
  }
    section .section2 .box{
      display:relative;
      margin-top:30px;
      margin-left:20px;
      
      
    }
    section .section2 .box .card1{
  justify-content: center;
    align-items: center;
    background:  #5D8AA8;
    letter-spacing:1px;
    text-transform:capitalize;
   font-size: 18px;
    color:#fff;
    width:40vh;
    padding-top:20px;
    padding-right:40px;
    padding-left:10px;
    margin-right:20px;
    margin-bottom:20px;
    border-radius: 10px;
  }
  section .section2 .box .card1 p{
    padding-bottom: 30px;
    cursor: pointer;
  }
  
  section .section2 .box .card1 .p1{
    padding-top:10px ;
  }
  section .section2 .box .card1 .p1 a{
    color:#fff;
    margin-bottom:15px;
    text-decoration: none;
  }
  section .section2 .box .card1 .p1 a:hover{
    color:#000;
    transition:all 0.5s ease 0s  ;
  }


  
   /*CSS OF FOTTER*/
  footer {
    background: #3B3C36;
    height:75px;
    width:100%;
    padding-top:25px ;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight: 500;
    color:#fff;
  }
  