/* CSS of index.html*/
  .fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .bor {
    border: 1px solid black;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

  }
 
 



  /*CSS OF HEADER*/
header nav{
    position:fixed;
    background: #3B3C36;
    height:75px;
    width:100%;
  }
  
  header nav .logo img{
    width:100px;
   height:auto;
    margin-left:30px;
  
}
  header nav ul{
    display:flex;
    padding-top: 25px;
padding-left: 30px;
padding-right: 30px;
    
  }
  header nav ul li{
    list-style: none;
    justify-content:center ;
    align-items: center;
  }
  header nav ul li a{  
font-size:15px;
font-weight:700;
text-transform: uppercase;
color:#fff;
text-decoration: none;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
  }
  header nav ul li a:hover{
    color: #4F97A3;
    /*transition:all 0.5s ease 0s  ;*/
  }



   /*css of section*/




  section{
	display:relative;
    padding-top:100px;
	min-height: 100vh;
    width:100%;
    justify-content: center;
	align-items: center;
  background:rgb(220, 220, 220); 

 }
 
/*css of section1*/
 
 section .section1{
    display:flex; 
    background:  #5D8AA8;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin:15px;
    padding-top:15% ;
    padding-bottom:15% ;
    border-radius: 5px;
 }
 section .section1 h2{
    position:flex;
    font-size: 5vh;
    letter-spacing: 5px;
    color:#fff;
    text-transform:capitalize;
    text-align:center;
    
 }
 /*CSS FOR section2*/
 section .section2{

  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight:200 ;
  padding-top: 50px;
  text-transform:capitalize ;
  color:#000;
  }


 /*css of section3*/

section .section3{
  display: flex;
  width: 100vh;
  padding:100px 0px;
 
}

section .section3 .box{
  /*background: #779ECB;*/
  background:  #5D8AA8;
  justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width:200px;
    border-radius: 20px;
   margin-left:12em;
}

section .section3 .box .card{
  padding:20px 35px; 
  margin:30px;
  text-align: center;
  position: relative;
}
section .section3 .box .card i{
  font-size:40px;
  display:block;
  text-align: center;
  margin:25px 0px;
  color:#000;
}
section .section3 .box .card a{
  color:white;
  font-size:22px;
  font-weight: 600;
  margin-bottom:15px;
  text-decoration: none;
}
section .section3 .box .card a:hover{
  color: #000;
  transition:all 0.5s ease 0s  ;
}


/*CSS OF FOTTER*/
footer {
 background: #3B3C36;
    color:#fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight: 500;
    height:75px;
    width:100%;
    padding-top:25px ; 
  }
 
 