/*css for login page*/
.bor{
	border-color: rgba(0,0,0);
}
*{
    margin:0px;
    padding:0px;
	box-sizing: border-box;
	font-family:'poppins',sans-serif;
    }
section{
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:  #5D8AA8;
}
.box{
	position: relative;
	padding: 50px;
	width:360px;
	height:480px;
	display:flex;
	justify-content: center;
	align-items: center;
	background: #F8F8FF;
	border-radius: 6px;
	box-shadow:6px 6px rgba(0,0,0);
	}
.box .form{
	position: relative;
	width:100%;
}
.box .form h2{
	color:#000;
	font-weight:700;
	letter-spacing:2px;
	margin-bottom:30px;
}
.box .form .inputbx{
	position: relative;
	width: 100%;
	margin-bottom:20px;
}
.box .form .inputbx .span{
	color:#000;
	font-weight:700;
	font-size:18px;

}
.box .form .inputbx input{
	width: 100%;
	outline:none;
	border:1px solid rgba(0,0,0,0.2);
	background:transparent;
	padding:8px 10px;
	border-radius:6px;
	color:#000;
	font-size:16px;
	font-weight:300;
}
.box .form .inputbx input[type="submit"]{
	background:  #5D8AA8;
	color:#111;
	max-width:100px;
	padding: 8px 10px;
	box-shadow:none;
	font-weight:700;
	letter-spacing: 1px;
	cursor:pointer;
}
 .box .form .inputbx input[type="submit"]:hover{
	border-color: aliceblue;
	 
	 }
.remember{
	position:relative;
	display:inline-block;
	color:#000;
	font-weight:700;
	margin-bottom:10px;
	cursor:pointer;
	
}
    